In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Exploracion de datos

In [3]:
# CAMBIAR, HACER RELATIVOS NO SE COMO
# Mientras poner tu propia ruta
PATH = '/home/max/workspace/NASA_Spaceapps_2024/hello_flask/data/DEF_SRDB_V5_1827_5-20241005_212220/srdb-data-V5.csv'
RELATIVE_PATH = 'hello_flask/data/DEF_SRDB_V5_1827_5-20241005_212220/srdb-data-V5.csv'
DATADIR_PATH = '/home/max/workspace/NASA_Spaceapps_2024/hello_flask/data'

to_keep = [
    'Entry_date', 
    'Quality_flag', 
    'Country', 
    'Region', 
    'Site_name', 
    'Site_ID', 
    'Study_midyear', 
    'Species', 
    'Biome', 
    'Ecosystem_type',
    'Leaf_habit', 
    'Soil_type', 
    'Soil_drainage', 
    'MAT', 
    'MAP', 
    'PET', 
    'Study_temp', 
    'Study_precip'
]

to_drop = [
    'Entry_date',
    'Quality_flag',
    'Ecosystem_type', 
    'Soil_type', 
    'PET', 
    'Study_temp', 
    'Study_precip', 
    'Site_ID'
]

# Leer el archivo CSV y seleccionar solo las columnas especificadas                 # NA DROPPED
df = pd.read_csv(PATH, usecols=to_keep, parse_dates=['Entry_date']).drop(columns=to_drop).dropna()

# Reorganizar las columnas para que 'Study_midyear' sea la primera
columns = ['Study_midyear'] + [col for col in df.columns if col != 'Study_midyear']
df = df[columns]

# Ordenar el DataFrame por 'Study_midyear'
df = df.sort_values(by='Study_midyear').reset_index(drop=True)

# Exportar los datos
df.to_csv(DATADIR_PATH+'/Processed/1_clean_srdb-data-V5.csv', index=False)

In [4]:
df['Country'].unique()

array(['USA', 'Congo', 'United Kingdom', 'Brazil', 'Canada', 'Venezuela',
       'Japan', 'India', 'China', 'Turkey', 'Norway', 'Denmark',
       'Thailand', 'Germany', 'UK', 'Belgium', 'Italy', 'Russia',
       'Malawi', 'Finland', 'Ireland', 'Malaysia', 'Costa Rica',
       'Australia', 'South Korea', 'Italy ', 'Czech Republic', 'Mexico',
       'Spain', 'Philippines', 'Sweden', 'Panama', 'Indonesia', 'Poland',
       'Isreal', 'Zambia', 'Argentina', 'New Zealand', 'Tunisia',
       'Mongolia', 'Kenya', 'Peru', 'Switzerland', 'Greenland', 'Hungary',
       'Taiwan', 'Cesko', 'France', 'Puerto Rico', 'Portugal', 'Vietnam',
       'Singapore', 'Guinea', 'Netherlands', 'Bennin', 'Signapore',
       'Zimbabwe', 'Czechia', 'Chile', 'Estonia', 'South Africa',
       'Austria', 'Tanzania'], dtype=object)

### Cuantas especies?

In [5]:
species = []
for spec in df['Species']: 
    #print(spec.split(';'))
    species.extend(spec.split(';'))
    
species_unique = pd.Series(pd.Series(species).unique())

species_unique

0                                          Pinus echinata
1                                             Acer rubrum
2                                                     Mix
3                                            Quercus alba
4                                      Thuja occidentalis
                              ...
1098                              Juniperus phoenaicea L.
1099    Salix oritrepha, Spiraea alpina Pallas, Potent...
1100                    Camelia sinensis var. sinensis L.
1101                                        Sphagnum spp.
1102                               Achnatherum hymenoides
Length: 1103, dtype: object

## Especies de interes para agricultores

* Oryza sativa - Arroz
* Zea mays - Maíz
* Triticum aestivum - Trigo
* Glycine max - Soya
* Solanum tuberosum - Papa

In [6]:
from difflib import get_close_matches

cultivos = ['Oryza sativa', 'Zea mays', 'Triticum aestivum', 'Glycine max', 'Solanum tuberosum']
matches = {}

for species in species_unique:
    match = get_close_matches(species, cultivos, n=1, cutoff=0.6)  # Coincidencias con un umbral de similitud
    if match:
        matches[species] = match[0]  # Guarda la especie del cultivo si hay coincidencia

matches  # Ver las coincidencias encontradas

{'Triticum aestivum': 'Triticum aestivum',
 'Pennisetum clandestinum': 'Triticum aestivum',
 'Glycine max': 'Glycine max',
 'Triticum aestivum, Zea mays subsp.': 'Triticum aestivum',
 'Zea mays': 'Zea mays',
 ' Avena sativa': 'Oryza sativa',
 'Oryza sativa': 'Oryza sativa',
 'Zea mays subsp.': 'Zea mays',
 ' Zea mays': 'Zea mays',
 ' Protium sagotianum': 'Triticum aestivum',
 'Protium sagotianum': 'Triticum aestivum',
 'Zea mays, triticum aestivum': 'Triticum aestivum',
 'Zea mays, Glycine max': 'Glycine max',
 ' Oryza sativa': 'Oryza sativa',
 ' Glycine max': 'Glycine max',
 ' Triticum aestivum': 'Triticum aestivum',
 'Pisum sativum': 'Triticum aestivum',
 ' Pisum sativum': 'Triticum aestivum',
 'Zea mays L.': 'Zea mays',
 'Triticum, zea mays': 'Triticum aestivum',
 'Sphagnum fuscum': 'Solanum tuberosum',
 'Zea Mays L.': 'Zea mays',
 'Oryza sativa, Brassica napus': 'Oryza sativa',
 'Triticum aestivum, Zea mays': 'Triticum aestivum',
 'Oryza sativa, zea mays': 'Oryza sativa',
 'Triticum aestivum, Glycine max': 'Triticum aestivum',
 'Triticum aestivum, Gossypium spp.': 'Triticum aestivum',
 'Zea mays, Triticum': 'Zea mays'}

traducimos en el dataframe

In [7]:
# Diccionario de traducción
traducciones = {
    'Oryza sativa': 'Arroz',
    'Zea mays': 'Maíz',
    'Triticum aestivum': 'Trigo',
    'Glycine max': 'Soya',
    'Solanum tuberosum': 'Papa'
}

# Función para aplicar la traducción
def traducir_especies(cultivo):
    for clave, valor in traducciones.items():
        if clave in cultivo:
            return valor
    return cultivo  # Si no encuentra coincidencia, devuelve el nombre original

# Aplicar la traducción a los valores del DataFrame
#df['Species_traducida'] = df['Species'].apply(traducir_especies)

# Ver el resultado
#df[['Species', 'Species_traducida']]

# Aplicar la traducción a los valores del DataFrame
df['Species_traducida'] = df['Species'].apply(traducir_especies)

# Filtrar las filas donde 'Species_traducida' es diferente de 'Species' (es decir, fue traducido)
df_traducido = df[df['Species'] != df['Species_traducida']]

# Ver el resultado final
df_traducido[['Species', 'Species_traducida']]

df_traducido['Species_traducida'].unique()

array(['Trigo', 'Soya', 'Maíz', 'Arroz'], dtype=object)

cuantos datos tenemos de cada especie de interes?

In [8]:
df_traducido['Species_traducida'].value_counts()

Species_traducida
Maíz     209
Trigo    164
Arroz     90
Soya      80
Name: count, dtype: int64

In [9]:
df_traducido.head()

,Study_midyear,Country,Region,Site_name,Species,Biome,Leaf_habit,Soil_drainage,MAT,MAP,Species_traducida
17,1970.0,Canada,Saskatchewan,Matador,Triticum aestivum,Temperate,Deciduous,Dry,3.3,390.0,Trigo
104,1985.0,USA,Missouri,Sanborn Field,Triticum aestivum,Temperate,Deciduous,Dry,12.5,973.0,Trigo
129,1986.0,USA,Missouri,Sanborn Field,Triticum aestivum,Temperate,Deciduous,Dry,12.5,973.0,Trigo
159,1991.0,USA,Kansas,Konza Prairie,Triticum aestivum,Temperate,Deciduous,Dry,12.5,835.0,Trigo
187,1992.0,USA,Texas,Brazos River floodplain,Triticum aestivum,Temperate,Deciduous,Dry,20.0,978.0,Trigo

## Agrupamiento (sin filtro de especie)

In [10]:
df.head()

,Study_midyear,Country,Region,Site_name,Species,Biome,Leaf_habit,Soil_drainage,MAT,MAP,Species_traducida
0,1961.0,USA,Tennessee,Oak Ridge,Pinus echinata,Temperate,Evergreen,Dry,14.0,1500.0,Pinus echinata
1,1961.0,USA,Tennessee,Oak Ridge,Acer rubrum,Temperate,Deciduous,Dry,14.0,1500.0,Acer rubrum
2,1961.0,Congo,Yangambi,Esali,Mix,Tropical,Evergreen,Dry,24.4,1875.0,Mix
3,1961.0,USA,Tennessee,Oak Ridge,Quercus alba,Temperate,Deciduous,Dry,14.0,1500.0,Quercus alba
4,1962.0,USA,Tennessee,Oak Ridge,Quercus alba,Temperate,Deciduous,Dry,14.0,1500.0,Quercus alba

In [11]:
df.to_csv(DATADIR_PATH+'/Processed/2_species-trad_srdb-data-V5.csv', index=False)

In [12]:
df[df['Country'] == 'Mexico']

,Study_midyear,Country,Region,Site_name,Species,Biome,Leaf_habit,Soil_drainage,MAT,MAP,Species_traducida
1780,2006.0,Mexico,Yucatan,El Eden Ecological Preserve,Mix,Tropical,Evergreen,Dry,24.2,1650.0,Mix
1938,2007.0,Mexico,Yucatan,El Eden Ecological Preserve,Mix,Tropical,Evergreen,Dry,24.2,1650.0,Mix
2821,2011.0,Mexico,Veracruz,Estero Dulce,Pachira aquatica Aubl,Tropical,Deciduous,Wet,27.0,1425.0,Pachira aquatica Aubl
2822,2011.0,Mexico,Veracruz,Estero Dulce,"Thalia geniculata L.,",Tropical,Deciduous,Wet,27.0,1425.0,"Thalia geniculata L.,"
2823,2011.0,Mexico,Veracruz,Laguna Chica,Pachira aquatica Aubl,Tropical,Deciduous,Wet,27.0,1425.0,Pachira aquatica Aubl
2824,2011.0,Mexico,Veracruz,Laguna Chica,Cyperus giganteus,Tropical,Deciduous,Wet,27.0,1425.0,Cyperus giganteus
2825,2011.0,Mexico,Veracruz,Boquilla de Oro,Ficus insipida,Tropical,Deciduous,Wet,27.0,1425.0,Ficus insipida
2826,2011.0,Mexico,Veracruz,Boquilla de Oro,Pontederia sagittata,Tropical,Deciduous,Wet,27.0,1425.0,Pontederia sagittata

In [13]:
# Definir las funciones de agregación personalizadas
agg_funcs = {
    'Country': 'first',
    'Region': 'first',
    'Study_midyear': 'first',
    #'Site_name': 'first',
    'Species': lambda x: ', '.join(x.unique()),
    'Biome': 'first',
    'Leaf_habit': 'first',
    'Soil_drainage': 'first',
    'MAT': 'mean',
    'MAP': 'mean'
}
grouped_df = df.drop(columns='Site_name')

# Agrupar por 'Site_name' y 'Study_midyear' y aplicar las funciones de agregación
grouped_df = grouped_df.groupby(['Region', 'Study_midyear']).agg(agg_funcs).reset_index(drop=True)

# Exportar los datos
grouped_df.to_csv(DATADIR_PATH+'/Processed/2_grouped-no-trad_srdb-data-V5.csv', index=False)

### Comparamos 

df agrupado:

In [14]:
grouped_df[grouped_df['Country'] == 'Mexico']

,Country,Region,Study_midyear,Species,Biome,Leaf_habit,Soil_drainage,MAT,MAP
974,Mexico,Veracruz,2011.0,"Pachira aquatica Aubl, Thalia geniculata L.,, ...",Tropical,Deciduous,Wet,27.0,1425.0
1051,Mexico,Yucatan,2006.0,Mix,Tropical,Evergreen,Dry,24.2,1650.0
1052,Mexico,Yucatan,2007.0,Mix,Tropical,Evergreen,Dry,24.2,1650.0

df sin agrupar:

In [15]:
df[df['Country'] == 'Mexico']

,Study_midyear,Country,Region,Site_name,Species,Biome,Leaf_habit,Soil_drainage,MAT,MAP,Species_traducida
1780,2006.0,Mexico,Yucatan,El Eden Ecological Preserve,Mix,Tropical,Evergreen,Dry,24.2,1650.0,Mix
1938,2007.0,Mexico,Yucatan,El Eden Ecological Preserve,Mix,Tropical,Evergreen,Dry,24.2,1650.0,Mix
2821,2011.0,Mexico,Veracruz,Estero Dulce,Pachira aquatica Aubl,Tropical,Deciduous,Wet,27.0,1425.0,Pachira aquatica Aubl
2822,2011.0,Mexico,Veracruz,Estero Dulce,"Thalia geniculata L.,",Tropical,Deciduous,Wet,27.0,1425.0,"Thalia geniculata L.,"
2823,2011.0,Mexico,Veracruz,Laguna Chica,Pachira aquatica Aubl,Tropical,Deciduous,Wet,27.0,1425.0,Pachira aquatica Aubl
2824,2011.0,Mexico,Veracruz,Laguna Chica,Cyperus giganteus,Tropical,Deciduous,Wet,27.0,1425.0,Cyperus giganteus
2825,2011.0,Mexico,Veracruz,Boquilla de Oro,Ficus insipida,Tropical,Deciduous,Wet,27.0,1425.0,Ficus insipida
2826,2011.0,Mexico,Veracruz,Boquilla de Oro,Pontederia sagittata,Tropical,Deciduous,Wet,27.0,1425.0,Pontederia sagittata

### Nos quedamos con las que tengan cierto numero de "CONDICION"

In [16]:
CONDICION = 'Region'

In [17]:
df[CONDICION].value_counts() > 5

Region
Massachusetts      True
Inner Mongolia     True
Ontario            True
Shaanxi            True
North Carolina     True
                  ...
Gelderland        False
Carlow            False
Gifu              False
Cologne           False
Borneo            False
Name: count, Length: 297, dtype: bool

In [18]:
# Contar las ocurrencias de cada país
country_counts = df[CONDICION].value_counts()

# Filtrar los países que tienen más de 100 ocurrencias
countries_to_keep = country_counts[country_counts > 5].index

# Filtrar el DataFrame original para mantener solo esos países
filtered_df = df[df[CONDICION].isin(countries_to_keep)]

filtered_df[CONDICION].unique()

array(['Tennessee', 'England', 'Minnesota', 'Amazonas', 'Missouri',
       'South Carolina', 'Saskatchewan', 'Alaska', 'Utah', 'Oklahoma',
       'North Carolina', 'Oregon', 'Washington', 'New Mexico',
       'Massachusetts', 'Ontario', 'Florida', 'Puerto Rico', 'Haryana',
       'Michigan', 'California', 'Quebec', 'Kansas', 'Georgia', 'Hawaii',
       'Wisconsin', 'Scotland', 'Rondondia', 'Texas', 'Maine', 'New York',
       'Beijing', 'Ohio', 'Manitoba', 'Arizona', 'Alberta', 'Artvin',
       'Indiana', 'Greenland', 'Montana', 'Iowa', 'Québec',
       'Kanchanaburi', 'Shannxi', 'North Dakota', 'Inner Mongolia',
       'Tibet', 'Colorado', 'British Columbia', 'Jiangxi', 'Solling',
       'Qinghai', 'Virginia', 'Wyoming', 'NE Wales', 'Nova Scotia',
       'Guangdong', 'Lampang', 'Pará', 'Fujian', 'Henan', 'Jilin',
       'Zomba', 'Agro-Environmental Sciences station', 'Sichuan',
       'South Dakota', 'Nebraska', 'Yunnan', 'Mato Grosso', 'Hunan',
       'Kannus', 'Shandong', 'Jiangsu', 'Caribbean lowlands', 'Gansu',
       'Guangzhou', 'Gyeonggido', 'Hokkaido', 'Heilongjiang', 'Hubei',
       'Liaoning', 'Hebei', 'Shanxi', 'Yamanashi', 'Shaanxi', 'Bavaria',
       'Xinjiang', 'Sokolov', 'Zhejiang', 'Manaus', 'Western', 'Nanjing',
       'Nasu', 'Western Province', 'Sicily', 'Alt Empordà',
       'Hebei Province', 'Waikato', 'Şanlıurfa', 'North Island',
       'Shanghai', 'Tibetan Plateau', 'Guangxi', 'Northern Mongolia',
       'Dalbay', 'Xinjiang Province', 'Madrid', 'Xinjiang Uygur',
       'Dinghuashan', 'Hunan Forest Botanic Garden', 'Sardinia',
       'Alabama', 'Zackenberg', 'Xinjiang Uygar Autonomous Region',
       'Qinghai Province', 'Seoul', 'Arkansas', 'Veracruz',
       'Central-eastern', 'Ferrand', 'Ningxia', 'Northeast Puerto Rico',
       'Inner Mongolia Autonomous Region', 'Mongolia', 'Henan Province',
       'Santa-Cruz Province', 'Anantnag', 'Northeastern ', 'Anhui',
       'Barcelona', 'Hokkaido University', 'Central Kalimantan',
       'Yangtze River source', 'Swiss Alps', 'Sichuan basin',
       'Jaboticabal', 'Nadym', 'Jambi', 'Northern Tibet',
       'Central Kalimantan Province', 'Qinghai-Tibetan Plateau', 'Moscow',
       'Jinju', 'Para', 'Aral', 'Kericho'], dtype=object)

In [19]:
filtered_df[CONDICION].value_counts()

Region
Massachusetts     157
Inner Mongolia    129
Ontario           122
Shaanxi           110
North Carolina    102
                 ...
Şanlıurfa          6
Sicily              6
Nasu                6
Nanjing             6
Kericho             6
Name: count, Length: 146, dtype: int64

In [20]:
# Obtener el conteo de ocurrencias de cada país
country_counts = grouped_df['Country'].value_counts()

# Mostrar el top de países con el número de ocurrencias
top_countries = country_counts.head(10)  # Puedes ajustar el número de países en el top

print(top_countries)

Country
China      366
USA        362
Canada      72
Japan       34
Brazil      30
UK          16
Italy       15
Russia      15
Germany     14
Spain       12
Name: count, dtype: int64

In [21]:
grouped_df[grouped_df['Country'] == 'USA']['Study_midyear'].count()

362

In [22]:
to_plot_massachusetts = grouped_df[grouped_df['Region'] == 'Massachusetts']


to_plot_massachusetts['Time_dummy'] = to_plot_massachusetts['Study_midyear'] - to_plot_massachusetts['Study_midyear'].min()

In [23]:
#exportar to_plot_massachusetts
to_plot_massachusetts.to_csv(DATADIR_PATH+'/Processed/to_plot_massachusetts.csv', index=False)

In [24]:
to_plot_massachusetts

,Country,Region,Study_midyear,Species,Biome,Leaf_habit,Soil_drainage,MAT,MAP
504,USA,Massachusetts,1981.5,Spartina alterniflora,Temperate,Evergreen,Wet,10.300000,1113.000000
505,USA,Massachusetts,1988.5,"Hardwood, Pinus resinosa",Temperate,Deciduous,Dry,8.500000,1120.000000
506,USA,Massachusetts,1989.5,"Hardwood, Pinus resinosa",Temperate,Deciduous,Dry,8.500000,1120.000000
507,USA,Massachusetts,1991.0,Betula papyrifera; Acer rubrum; Quercus veluti...,Temperate,Deciduous,Dry,6.000000,1110.666667
508,USA,Massachusetts,1992.5,"Pinus resinosa, Tsuga canadensis, Acer rubum",Temperate,Evergreen,Dry,8.500000,1050.000000
509,USA,Massachusetts,1993.5,"Tsuga canadensis, Acer rubum, Pinus resinosa",Temperate,Evergreen,Dry,8.500000,1050.000000
510,USA,Massachusetts,1994.5,"Pinus resinosa, Mixed hardwood, Acer rubum, Ts...",Temperate,Evergreen,Dry,7.000000,1080.000000
511,USA,Massachusetts,1995.0,Acer rubrum; Quercus rubra,Temperate,Deciduous,Dry,8.500000,1050.000000
512,USA,Massachusetts,1995.5,"Quercus spp., Acer rubum, Tsuga canadensis, Mi...",Temperate,Deciduous,Dry,8.372727,1051.454545
513,USA,Massachusetts,1996.0,"Acer rubrum; Quercus rubra, Quercus rubra; Ace...",Temperate,Deciduous,Dry,8.142857,1067.428571
514,USA,Massachusetts,1996.5,"Acer rubum, Tsuga canadensis, Pinus resinosa",Temperate,Deciduous,Dry,8.500000,1050.000000
515,USA,Massachusetts,1997.0,Acer rubrum; Quercus rubra,Temperate,Deciduous,Wet,8.500000,1050.000000
516,USA,Massachusetts,1997.5,"Acer rubum, Tsuga canadensis, Pinus resinosa",Temperate,Deciduous,Dry,8.500000,1050.000000
517,USA,Massachusetts,1998.0,Acer rubrum; Quercus rubra,Temperate,Deciduous,Dry,8.500000,1050.000000
518,USA,Massachusetts,1998.5,"Pinus resinosa, Acer rubum, Tsuga canadensis",Temperate,Evergreen,Dry,8.500000,1050.000000
519,USA,Massachusetts,1999.0,Acer rubrum; Quercus rubra,Temperate,Deciduous,Dry,8.500000,1050.000000
520,USA,Massachusetts,1999.5,"Acer rubum, Tsuga canadensis, Pinus resinosa",Temperate,Mixed,Dry,8.500000,1050.000000
521,USA,Massachusetts,2000.0,Acer rubrum; Quercus rubra,Temperate,Deciduous,Dry,8.500000,1050.000000
522,USA,Massachusetts,2000.5,"Pinus resinosa, Tsuga canadensis, Acer rubum",Temperate,Evergreen,Dry,8.500000,1050.000000
523,USA,Massachusetts,2001.0,"Acer rubrum; Quercus rubra, Pinus resinosa, Ha...",Temperate,Deciduous,Dry,8.500000,1110.000000
524,USA,Massachusetts,2001.5,"Tsuga canadensis, Acer rubum, Pinus resinosa",Temperate,Evergreen,Dry,8.500000,1050.000000
525,USA,Massachusetts,2002.0,Acer rubrum; Quercus rubra,Temperate,Deciduous,Dry,8.500000,1050.000000
526,USA,Massachusetts,2002.5,"Acer rubum, Tsuga canadensis, Pinus resinosa",Temperate,Mixed,Dry,8.500000,1050.000000
527,USA,Massachusetts,2003.0,"Quercus rubra, Acer rubrum; Quercus rubra",Temperate,Deciduous,Dry,8.500000,1050.000000
528,USA,Massachusetts,2003.5,"Pinus resinosa, Tsuga canadensis, Acer rubum",Temperate,Evergreen,Dry,8.500000,1050.000000
529,USA,Massachusetts,2004.5,"Acer rubum, Tsuga canadensis, Pinus resinosa",Temperate,Deciduous,Dry,8.500000,1050.000000
530,USA,Massachusetts,2005.5,"Pinus resinosa, Acer rubum, Tsuga canadensis",Temperate,Evergreen,Dry,8.500000,1050.000000
531,USA,Massachusetts,2006.5,"Pinus resinosa, Acer rubum, Tsuga canadensis",Temperate,Evergreen,Dry,8.500000,1050.000000
532,USA,Massachusetts,2007.5,"Tsuga canadensis, Acer rubum, Pinus resinosa",Temperate,Evergreen,Dry,8.500000,1050.000000
533,USA,Massachusetts,2008.5,"Pinus resinosa, Tsuga canadensis, Acer rubum",Temperate,Evergreen,Dry,8.500000,1050.000000
534,USA,Massachusetts,2009.0,Acer rubrum; Betula lenta; Quercus rubra; Pinu...,Temperate,Deciduous,Dry,10.300000,1063.000000
535,USA,Massachusetts,2009.5,"Pinus resinosa, Acer rubum, Grasses, Tsuga can...",Temperate,Evergreen,Dry,8.700000,1078.800000
536,USA,Massachusetts,2011.5,"Tsuga canadensis, Betula lenta",Temperate,Evergreen,Dry,17.520000,1254.000000