In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
PATH = '/home/max/workspace/NASA_Spaceapps_2024/hello_flask/data/DEF_SRDB_V5_1827_5-20241005_212220/srdb-data-V5.csv'
RELATIVE_PATH = 'hello_flask/data/DEF_SRDB_V5_1827_5-20241005_212220/srdb-data-V5.csv'

to_delete = ['Record_number', 
'Study_number', 
'Author',
'Contributor',
'Leaf_habit',
'Stage',
'Meas_method',
'Collar_height',
'Collar_depth',
'Chamber_area',
'Time_of_day',
'Partition_method'
]

df = pd.read_csv(PATH, parse_dates=['Entry_date']).drop(columns=to_delete)

#exporting the data
df.to_csv('clean_1_srdb-data-V5.csv', index=False)

/tmp/ipykernel_44040/526737440.py:18: DtypeWarning: Columns (4,39,61) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(PATH, parse_dates=['Entry_date']).drop(columns=to_delete)

In [28]:
df['Country'].unique()

array(['Canada', 'USA', 'Germany', 'New Zealand', 'France', 'Brazil',
       'Israel', 'Sweden', 'Japan', 'Benin', 'United Kingdom', 'Estonia',
       'Finland', 'Australia', 'India', 'Austria', 'Italy', 'Russia',
       'Belgium', 'China', 'Denmark', 'Norway', 'Antarctica',
       'Netherlands', 'Korea', 'Congo', 'Spain', 'Malaysia', 'Greece',
       'Venezuela', 'French Guiana', 'Costa Rica', 'Micronesia',
       'Indonesia', 'Mexico', 'Switzerland', 'Taiwan', 'Ecuador',
       'Panama', 'Belize', 'South Korea', 'Oman', 'Ireland', 'Egypt',
       'Belarus', 'Czechoslovakia', 'Thailand', 'Kazakhstan', 'Turkey',
       'Colombia', 'Botswana', 'Hungary', 'Chile', 'Czech Republic',
       'Argentina', 'Poland', 'Bulgaria', 'Peru', 'Tuscany', 'Rwanda',
       'Uganda', 'Lithuania', 'Burkina Faso', 'England', 'Iceland',
       'Philippines', 'Zambia', 'Latvia', 'Ethiopia', 'Republic of Congo',
       'Portugal', 'Slovenia', 'Kenya', 'Bolivia', 'Tunisia', 'Zimbabwe',
       'South Africa', 'Scotland', 'Mongolia', 'Isreal', 'Tanzania',
       'Republic of Niger', 'Vietnam', 'Singapore', 'Uruguay',
       'Greenland', nan, 'Czechia', 'Sudan', 'Mali', 'Senegal', 'Niger',
       'Serbia', 'Italy ', 'UK', 'Antarctic', 'Arctic', 'Czech', 'Guinea',
       'Croatia', 'Signapore', 'Europe', 'Malawi',
       'Kingdom of Saudi Arabia', 'Palma', 'Algeria', 'The Netherlands',
       'Puerto Rico', 'Africa', 'Iran', 'Global', 'Cesko', 'Bennin',
       'Russia ', 'Ukraine '], dtype=object)

In [29]:
df[df['Country'] == 'Mexico'].head()

,Entry_date,Duplicate_record,Quality_flag,Country,Region,Site_name,Site_ID,Study_midyear,YearsOfData,Latitude,...,BA,C_veg_total,C_AG,C_BG,C_CR,C_FR,C_litter,C_soilmineral,C_soildepth,Notes
1274,2009-03-09,NaN,NaN,Mexico,NaN,Cofre de Perote,MX-CDP-FOR,2003.5,1.3,19.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23800.0,NaN,NaN
1275,2009-03-09,NaN,NaN,Mexico,NaN,Cofre de Perote,MX-CDP-CRO,2003.5,1.3,19.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23800.0,NaN,NaN
1276,2009-03-09,NaN,NaN,Mexico,NaN,Cofre de Perote,MX-CDP-GRA,2003.5,1.3,19.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23800.0,NaN,NaN
1564,2009-04-22,NaN,NaN,Mexico,Yucatan,El Eden Ecological Preserve,MX-EEE,2006.0,1.0,21.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hurricane!
5067,2013-11-25,NaN,NaN,Mexico,Yucatan,El Eden Ecological Preserve,MX-EEE,2007.0,1.0,21.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hurricane!

In [30]:
df['Country'].value_counts() > 100

Country
China               True
USA                 True
Canada              True
Japan               True
Finland             True
                   ...
The Netherlands    False
Africa             False
Oman               False
Global             False
Cesko              False
Name: count, Length: 114, dtype: bool

In [31]:
# Contar las ocurrencias de cada paÃ­s
country_counts = df['Country'].value_counts()

# Filtrar los paÃ­ses que tienen mÃ¡s de 100 ocurrencias
countries_to_keep = country_counts[country_counts > 50].index

# Filtrar el DataFrame original para mantener solo esos paÃ­ses
filtered_df = df[df['Country'].isin(countries_to_keep)]

filtered_df['Country'].unique()

array(['Canada', 'USA', 'Germany', 'France', 'Brazil', 'Sweden', 'Japan',
       'United Kingdom', 'Estonia', 'Finland', 'Australia', 'India',
       'Austria', 'Italy', 'Russia', 'China', 'Denmark', 'Spain',
       'Costa Rica', 'Indonesia', 'Switzerland', 'South Korea', 'Hungary',
       'UK'], dtype=object)